<div id="<%= dom_id coin %>">

  <td>
    <strong>Descrição:</strong>
    <%= coin.description %>
  </td>

  <td>
    <strong>Sigla:</strong>
    <%= coin.acronym %>
  </tr>

  <td>
    <strong>Image:</strong>
    <%= image_tag coin.url_image, size: "40x40" %>
  </td>


</div>
